html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  transition: all 0.5s ease-in-out;
  height: 50px;
  position: fixed;
  width: 100%;
}
.navbar .logo {
  color: #353535;
  padding: 1vh;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 40px;
}
.navbar .nav-links {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 50%;
}
.navbar .nav-links li {
  list-style: none;
}
.navbar .nav-links a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #353535;
}
.navbar .nav-links a:hover {
  color: #ff9100;
}
.navbar .burger {
  display: none;
  cursor: pointer;
}
.navbar .burger div {
  background-color: #353535;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar {
    justify-content: space-between;
  }
  .navbar .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    align-items: center;
    background-color: #e9ebea;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out;
  }
  .navbar .nav-links li {
    opacity: 0;
  }
  .navbar .burger {
    display: block;
  }
  .navbar .nav-change {
    transform: translateY(0);
    top: 50px;
  }
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.intro {
  background-image: url("wall-paper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 45vh;
  padding-bottom: 50vh;
  text-align: center;
}
.intro h1 {
  font-weight: 600;
  color: #353535;
  font-size: 42px;
}
.intro p {
  color: #0093ad;
  font-weight: lighter;
  font-size: 22px;
}

.about-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #e9ebea;
  padding: 8vh 0;
}
.about-detail .about-me {
  width: 40%;
}
.about-detail .skills {
  width: 30%;
  line-height: 2em;
}
.about-detail .skills .progress-bar .progress-bar-lt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-detail .skills .progress-bar .progress-bar-lt h6 {
  font-size: 1rem;
  font-weight: 550;
}
.about-detail .skills .progress-bar .progress-bar-skills {
  background-color: lightgray;
  border-radius: 12px;
  transition: all 1.6s ease-out;
}
.about-detail .skills .progress-bar .progress-bar-skills .progress-bar-line {
  height: 6px;
  border-radius: 12px;
  background-color: #353535;
}
@media screen and (max-width: 768px) {
  .about-detail {
    flex-direction: column;
    justify-content: center;
  }
  .about-detail .about-me,
.about-detail .skills {
    width: 80%;
    padding: 2em 0;
  }
}

.projects {
  margin-top: -8vh;
  padding-top: 8vh;
}
.projects .project-header {
  text-align: center;
}
.projects .project-header h2 {
  padding-top: 10vh;
}
.projects .project-container {
  margin-top: 8vh;
  padding: 0 8vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}
.projects .project-container .project-pic {
  height: auto;
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.services .service-header h2, .projects .project-header h2 {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-bottom: 15px;
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  color: #0c9b9b;
  z-index: -1;
}

.services .service-header h2::after, .projects .project-header h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4px;
  width: 50px;
  height: 2px;
  background-color: #0c9b9b;
  box-sizing: border-box;
}

.services {
  padding-top: 10vh;
}
.services .service-header {
  font-size: 1.5em;
  text-align: center;
}
.services .service-header h2 {
  margin-top: 8vh;
}
.services .service-detail {
  background-color: #4c4c4c;
  border: 2px solid #2c2c2c;
  position: relative;
  width: 70%;
  height: 0;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 40%;
}
@media screen and (max-width: 768px) {
  .services .service-detail {
    width: 80vw;
    padding-bottom: 52vh;
    border-radius: 10px;
  }
}
.services .service-detail input[type=radio] {
  display: none;
}
.services .service-detail .slide-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.services .service-detail .slide-img img {
  width: 100%;
  height: 100%;
}
.services .service-detail .slide-img .pre, .services .service-detail .slide-img .nxt {
  position: absolute;
  top: 0;
  width: 12%;
  height: 100%;
  background: rgba(88, 88, 88, 0.4);
  cursor: pointer;
}
.services .service-detail .slide-img .pre {
  left: 0;
}
.services .service-detail .slide-img .nxt {
  right: 0;
}
.services .service-detail .dots-nav {
  position: absolute;
  width: 100%;
  bottom: 5%;
  text-align: center;
  z-index: 20;
}
.services .service-detail .dots-nav .dots {
  position: relative;
  width: 18px;
  height: 18px;
  background: rgba(88, 88, 88, 0.4);
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .services .service-detail .dots-nav .dots {
    width: 10px;
    height: 10px;
    margin: 0 2px;
  }
}
.services .service-detail #i1:checked ~ #one,
.services .service-detail #i2:checked ~ #two,
.services .service-detail #i3:checked ~ #three {
  z-index: 9;
}
.services .service-detail #i1:checked ~ .dots-nav #dot1,
.services .service-detail #i2:checked ~ .dots-nav #dot2,
.services .service-detail #i3:checked ~ .dots-nav #dot3 {
  background-color: #202020;
}

.contact {
  display: grid;
  grid-template-rows: 10%;
  text-align: center;
  vertical-align: middle;
  height: 30%;
  background-color: #e9ebea;
  align-content: center;
  color: #353535;
}

/*# sourceMappingURL=style.css.map */
